@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
:root{
  --light-blue:#66E2DC;
  --light-red:#FA7453;
  --light-orang:#FFB964;
  --white:#FCFAF9;
  --black:#191826;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}
body{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.7rem;
  background-image: url('./assets/bg-main-desktop.png');
  position: relative;
  z-index: 1;
}
body .pg__pattern{
  position: absolute;
  top: -100px;
  right: 0;
}
h1{
  font-weight: bold;
  font-size: 4.4rem;
  line-height: 4.4rem;
  letter-spacing: -0.05rem;
}
h2{
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.6rem;
}
button{
  width: 333px;
  height: 61px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: .9rem;
  line-height: 1.6rem;
  letter-spacing: -0.009rem;
}
button.ios{
  background-color: var(--black);
  color: var(--white);
}
button.android{
  background-color: var(--white);
  color: var(--black);
}
button.ios:hover{
  cursor: pointer;
  background-color: var(--light-blue);
}
button.android:hover{
  cursor: pointer;
  background-color: var(--light-orang);
}
.header,
.hero__contetnt{padding: 0 100px;}
.header{margin-top: 30px;}
.hero__contetnt .main__heading{width: 50%;}
.hero__contetnt .hero__desc{width: 42%;}
.hero__contetnt .main__heading{margin-top: 80px;}
.hero__contetnt .hero__desc{margin-top: 30px;}
.header,
.hero__contetnt{
  margin-left: 30px;
  margin-right: 30px;
}
.featured__content{
  background-color: var(--black);
  border-radius: 15px;
  color: var(--white);
  padding: 50px;
  background-image: url('./assets/bg-pattern-2.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  position: relative;
  margin: 200px 100px;
  height: 600px;
}
.featured__content .featured__content__bg{
  position: absolute;
  top: -130px;
  left: 200px;
}
.featured__content .featured__content__bg img{
  width: 270px;
  height: 556px;
}
.featured__content .card{
  background-color: var(--light-red);
  width: 399px;
  height: 546px;
  border-radius: 15px;
  padding: 20px 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 5;
  position: absolute;
  top: 190px;
  right: 70px;
}
.featured__content .card p{margin-top: 20px;}
.featured__content .card .price{
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 30px 0;
  display: flex;
  align-items: center;
}
.featured__content .card .price span{
  font-size: 4.063rem;
  line-height: 3.25rem;
  font-weight: bold;
  margin-right: 20px;
}
.featured__content .card .ios img,
.featured__content .card .android img{margin-right: 15px;}
.featured__content .card .ios,
.featured__content .card .android{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}


footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 100px;
}
footer .footer__info{
  display: flex;
  align-items: center;
}
footer .footer__info .logo{
  margin: unset;
  margin-right: 150px;
}
footer .footer__info p{
  width: 28%;
}
footer .footer__info p span{font-weight: bold;}
footer .socials{
  display: flex;
}
footer .socials .social:not(:last-child){
  margin-right: 20px;
}
footer .socials .social:hover svg path{fill: var(--light-red);cursor: pointer;}
/* Mobile Screen */
@media screen AND (min-width:370px) AND (max-width: 767px){
  body{
    background-image: url('./assets/bg-main-mobile.png');
    font-size: 1rem;
    line-height: 1.625rem;
  }
  h1{
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.028rem;
  }
  h2{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  body .pg__pattern{display: none;}
  button{width: 296px;}
  .header{
    padding: 0 20px ;
    margin-top: 30px;
  }
  .hero__contetnt{padding: 0 20px ;}
  .hero__contetnt .main__heading{margin-top: 20px;}
  .hero__contetnt .hero__desc{
    margin-top: 20px;
    padding-right: 10px;
  }
  .featured__content{
    padding: unset;
    flex-direction: column;
    align-items: center;
    background-position: center top;
  }
  .featured__content .featured__content__bg img{
    width: 208px;
    height: 430px;
    position: relative;
    top: -100px;
  }
  .featured__content .card{
    background-color: var(--light-red);
    width: 100%;
    height: 546px;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .featured__content .card p{margin-top: 20px;}
  .featured__content .card .price{
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 30px 0;
  }
  .featured__content .card .price span{
    font-size: 4.063rem;
    line-height: 3.25rem;
    font-weight: bold;
  }
  .featured__content .card .ios img,
  .featured__content .card .android img{margin-right: 15px;}
  .featured__content .card .ios,
  .featured__content .card .android{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  .featured__content .card .ios{margin-bottom: 15px;}
  footer{
    padding: 0 30px;
    flex-direction: column;
    align-items: unset;
  }
  footer .footer__info {
    flex-direction: column;
    align-items: unset;
  }
  footer .footer__info p{
    width: 100%;
    padding-right: 18px;
    margin: 30px 0;
  }
  footer .socials{margin-top: 30px;}
}
/* Tablet Screen */
@media screen AND (min-width:768px) AND (max-width: 1439px){
  body{
    background-image: url('./assets/bg-main-tablet.png');
    font-size: 1rem;
    line-height: 1.556rem;
  }
  h1{
    font-size: 3.556rem;
    line-height: 3.556rem;
    letter-spacing: -0.041rem;
  }
  h2{
    font-size: 1.778rem;
    line-height: 2.222rem;
  }
  button{width: 296px;}
  body .pg__pattern{width: 230px;}

  .header{
    margin-top: 30px;
  }
  .hero__contetnt .hero__desc,
  .hero__contetnt .main__heading{
    width: 65%;
  }
  .hero__contetnt .main__heading{
    margin-top: 80px;
  }
  .hero__contetnt .hero__desc{
    margin-top: 30px;
    padding-right: 10px;
  }

  .header,
  .hero__contetnt{
    margin-left: 30px;
    margin-right: 30px;
  }
  .featured__content{
    flex-direction: column;
    align-items: center;
    background-position: top center;
    height: 600px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .featured__content .featured__content__bg{
    position: absolute;
    top: -130px;
    left: 60px;
  }
  .featured__content .featured__content__bg img{
    width: 270px;
    height: 556px;
  }
  .featured__content .card{
    background-color: var(--light-red);
    width: 399px;
    height: 546px;
    border-radius: 15px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 5;
    position: absolute;
    top: 190px;
    right: 70px;
  }
  .featured__content .card p{margin-top: 20px;}
  .featured__content .card .price{
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 30px 0;
    display: flex;
    align-items: center;
  }
  .featured__content .card .price span{
    font-size: 4.063rem;
    line-height: 3.25rem;
    font-weight: bold;
    margin-right: 20px;
  }
  .featured__content .card .ios img,
  .featured__content .card .android img{margin-right: 15px;}
  .featured__content .card .ios,
  .featured__content .card .android{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  footer{
    padding: 0 30px;
    align-items: end;
  }
  footer .footer__info {
    flex-direction: column;
    align-items: unset;
  }
  footer .footer__info p{
    width: 100%;
    padding-right: 320px;
    margin-top: 30px;
  }
}